
$cedar-chest: #c05746ff;
$laurel-green: #adc698ff;
$tea-green: #d0e3c4ff;
$white: #ffffffff;
$dark-byzantium: #503047ff;


$light-orange: #fcd0a1ff;
$laurel-green: #b1b695ff;
$lilac-luster: #a690a4ff;
$eggplant: #5e4b56ff;
$columbia-blue: #afd2e9ff;