@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/colors' as *;
@use './../../styles/partials/fonts' as *;

// .home-main {
//     position: relative;
// }
body {
    position: relative;
}

.contents {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-wrapper {
    padding: 2rem;
    width: fit-content;
    background-color: rgb(240, 248, 255, 0.8);
    
}



.auth-container {
    display: flex;
    justify-content: space-evenly;
    @include tablet {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 5%;

    }
}

// .icon {
//     background-color: rgb(240, 248, 255, 0.8);
// }