@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/colors' as *;
@use './../../styles/partials/fonts' as *;

// .home-main {
//     position: relative;
// }
body {
    position: relative;
    margin: 0;
    padding: 0;

}

.contents {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-wrapper {
    padding: 2rem ;
    width: fit-content;
    background-color: rgb(240, 248, 255, 0.8);
    
}




// .icon {
//     background-color: rgb(240, 248, 255, 0.8);
// }