@use './../../styles/partials/mixins' as *;
@use './../../styles/partials/colors' as *;
@use './../../styles/partials/fonts' as *;

.header-container {
    // padding: 1rem;
    margin: 1rem;
    background-color: rgb(240, 248, 255, 0.8);
    width: fit-content;
    padding: 1rem;

}


// .header-title {
//     text-align: left;
//     @include textRegular (3rem, 3rem);
//     @include tablet {
//          @include textRegular (4rem, 3rem);
//     }
   
    
// }