@use './../../styles/partials/mixins' as *;

.project-wrapper {
  display: flex;
  flex-direction: column;

}

.project {
  border: .0625rem solid blueviolet;
  border-radius: .25rem;
  margin: 1rem;
  padding: 1rem;
}