span {
    color: red;
    margin: 1rem;
}

.project-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: antiquewhite;

}

button {
    margin: 1rem;
}